<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
    {% for item in files %}
    <li>
        <a href="/static/{{ item }}">{{ item }}</a>
    </li>
    {% endfor %}
</ul>
{% if error %}
<p>ОШИБКА!!!</p>
{% endif %}
<form action="/upload/" method="post" enctype="multipart/form-data">
    <label for="new_file">Выберите файл</label>
    <input type="file" name="new_file" id="new_file">
    <input type="submit" value="Загрузить">
</form>
</body>
</html>
